@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<html>
    <body>
        <h1>@Model.Value("MessageText")</h1>
    </body>
</html>